.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.4);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContainer {
    background-color: #F2F1F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 3;
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.popupUpperContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popupContainer h1 {
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.popupContainer h2 {
    text-align: center;
    color: #000;
    font-size: 22px;
    margin: 0.5px;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.largePopupInput {
    box-sizing: border-box;
    display: flex;
    width: 75%;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    border: #E9E8EA 2px solid;
    border-radius: 10px;
}

.largePopupInput:focus {
    outline: none;
    outline-offset: -10px;
    border-color: #0078d7;
  }

.popupButtonsContainer {
    display: flex;
    flex-direction: row;
    /* align-items */
    width: 100%;
    justify-content: space-between;
}

.popupButtonsContainer h3 {
    color: #318EFD;
    margin: 0;
}

.popupButtonsContainer .AcceptButton {
    font-weight: 600;
}

.popupButtonsContainer .cancelButton {
    font-weight: 500;
}

.popupButtonsContainer.rightOnly {
    flex-direction: row-reverse;
}