.popupContainer .venmoPopupInput {
    font-size: 22px;
    width: 95%;

    box-sizing: border-box;
    display: flex;
    height: 45px;
    font-weight: 500;
    text-align: left;
    border: #E9E8EA 2px solid;
    border-radius: 10px;
}

.venmoPopupInput:focus {
    outline: none;
    outline-offset: -10px;
    border-color: #0078d7;
}

.venmoPopupInput:focus.invalid{
    border-color: red;
}

.venmoPopupFrame {
    width: 315px;
    height: 231px;
}

.popupContainer h1:first-child {
    margin-top: 20px;
}