
.customer-headers {
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	padding-block: 15px;
	padding-top: 30px;
}

.customer-header-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	letter-spacing: -0.02em;
    color: #646464;
}

a {
    text-decoration: none;
}

.customer-header-buttons .material-symbols-outlined {
	font-size: 40px;
	padding-inline: 5px;
	color: #646464;
	-webkit-tap-highlight-color: transparent;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.cartFilledIcon {
	background: #FF255C;
    border-radius: 50%;
	width: 13px;
	height: 13px;
	position: absolute;
}

.active-header {
    color: black !important;
}
