/* One tab list */
.tabsContainer {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Contains both tabs lists */
.tabsWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 10px;
    /* padding-inline: 12px; */
}

/* Subtext for the tabs (in a light gray color) */
.tabsWrapper h2 {
    color: #999;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    align-self: center;
} 