.tabsContainer {
    list-style: none;
    overflow-y: auto;
    padding: 5px;
    margin: 0;
}

.tabsWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 15px;

}
/* # Subtext for the tabs (in a light gray color) */
.tabsWrapper h2 {
    color: #999;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    align-self: center;
}